body {
  background-color: #373535;
  color: #E5E5E5;
  font-family: Rubik;
}

#leftimage {
  position: fixed;
  top: 5px;
}

h1 {
  font-family: Saira;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 167.23%;
  padding-top: 50px;
}

h3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 144%;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #373535;
  position: fixed;
  height: 40px;
  left: 605.76px;
  top: 5px;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
}

li a:hover:not(.active) {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.column {
  float: left;
  width: 18%;
  left: 23%;
  position: relative;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.social-icons {
  font-size: 90px;
  padding-bottom: 1px;
  left: 610.76px;
}
