body {
  color: #E5E5E5;
  background-color: #373535;
  font-family: 'Rubik', sans-serif;
}

h2 {
  font-family: 'Saira', sans-serif;
  color: #FFFFFF;
}

h4 {
  font-family: 'Rubik', sans-serif;
}

h5 {
  font-family: 'Rubik', sans-serif;
}

.button {
  background-color: #e7e7e7; color: black;
  border-radius: 10px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 13px 89px 5px 3px;
  cursor: pointer;
}

header {
  height: 130px;
}

nav ul {
  position: fixed;
  margin: 0px;
  padding: 1px 0px 5px 610px;
}

nav li {
  display: inline;
  margin-right: 40px;
}

nav li a {
  color: #ffffff;
}

nav li a:hover, nav li a.current {
  color: #C4C4C4;
  text-decoration: underline;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.wrapper {
  width: 720px;
  margin: 10px auto;
  padding-bottom: 30px;
}

.column1of3, .column2of3, .column3of3 {
  width: 200px;
  float: left;
  margin:19px;
}

.column1, .column2, .column3 {
  width: 200px;
  float: left;
  margin: 20px;
}

.wrap {
  width: 720px;
  float: left;
  padding: 50px 3px 40px 464px;
  margin: 1px;
}

.column0, .column00, .column000 {
  width: 200px;
  float: left;
  margin: 20px;
}

.wrsp {
  width: 720px;
  float: left;
  padding: 30px 3px 50px 420px;
  margin: 1px;
}

.wrsp2 {
  width: 720px;
  float: left;
  padding: 30px 3px 40px 20px;
  margin: 1px;
}

.wrsp3 {
 margin: auto 5px;
 float: left;
 width: 150px;
 height: 38px;
}

.wrapps {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.wrapps2 {
  display: block;
  margin-left: -40px;
}

.wrapps3 {
  display: block;
  margin-left: 140px;
}

.column10, .column20, .column30, .column40 {
  text-align: center;
  width: 260px;
  float: left;
  margin: 20px;
  height: 300px;
}

.wrap2 {
  width: 600px;
  float: left;
  padding: 80px 3px 50px 10px;
  margin: 10px;
}

.wrsp69 {
  width: 720px;
  float: left;
  padding: 10px 300px 50px 130px;
  margin: 1px;
}

.wrsp69 h1 {
  font-family: Yellowtail;
  color: #FFA658;
  font-size: 49px;
  font-style: normal;
}

.wrsp69 h2 {
  font-family: "Open Sans";
  color: #CF6F6F;
  font-size: 26px;
  font-style: normal;
}

.corn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 37%;
}

.nope {
  width: 400px;
  margin-left:190px;
}
